.devTip { 
    width:500px;
    padding:5px;
    display:block;
    bottom:35px;
    position:absolute;
    background: #fff;
    border-radius:4px;
    box-shadow:0 0 6px 2px rgba(0,0,0,.2);
    text-align:justify;
}
.devTip img { width:40%; height: auto; float:left; margin:0 9px 2px 0;}

.devTip.left:before  { left:29px; }
.devTip.left:after   { left:31px; }
.devTip.right:before { right:29px; }
.devTip.right:after  { right:31px; }

.devTip:before, .devTip:after {
    position:  absolute;
    width:     0;
    height:    0;
    content:   ' ';
}

.devTip:before {
    bottom: -12px;  
    border-style:solid dashed dashed dashed;
    border-color: #eee transparent transparent transparent;  
    border-top-width:    12px;
    border-right-width:  8px;
    border-left-width:   8px;
    border-bottom-width: 0px;
}
.devTip:after {
    bottom: -9px;  
    border-style:solid dashed dashed dashed;
    border-color: #fff transparent transparent;
    border-top-width:    10px;
    border-right-width:  6px;
    border-left-width:   6px;
    border-bottom-width: 0px;
}
